body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav > section {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

main {
  padding: 2% 4%;
}

label {
  display: block;
  margin-bottom: 1%;
}

img {
  height: 40vh;
}

#books-on-homepage {
  display: flex;
  flex-wrap: wrap;
}

#books-on-homepage > section {
  margin: .5%;
}

#books-on-homepage > section:hover { 
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
} 

#one-book-details {
  margin: 0% 20%;
}

.account-and-auth {
  margin-left: 40%;
}